a {
  text-decoration: underline;
  color: #000;
  transition: 0.2s; }
  a:hover {
    color: #fff;
    background-color: #000; }

button:focus {
  outline: none; }

.button-link {
  text-decoration: underline;
  color: #000;
  transition: 0.2s;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .button-link:hover {
    color: #fff;
    background-color: #000; }

.form-hint {
  color: #767677;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
  padding-left: 15px;
  text-align: left; }

.cta {
  align-items: center;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  justify-content: flex-start;
  letter-spacing: 2px;
  line-height: 50px;
  min-height: 50px;
  padding: 0 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform 0.3s cubic-bezier(0.3, 0, 0, 1), color 0.3s cubic-bezier(0.3, 0, 0, 1);
  white-space: nowrap;
  width: auto; }
  .cta:hover {
    text-decoration: none; }

.cta-secondary {
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  color: #000;
  height: 50px; }

.cta-full-width {
  justify-content: space-between;
  width: 100%; }

.cta-content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase; }

.cta-primary {
  background-color: #000;
  border-color: #000;
  color: #fff;
  height: 50px;
  transform: translate(-3px, -3px); }
  .cta-primary:hover {
    background-color: #000;
    border-color: #000;
    color: #767677; }
  .cta-primary::before {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    bottom: -3px;
    height: 3px;
    left: 3px;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    transition: all; }
  .cta-primary::after {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    height: 100%;
    right: -3px;
    top: 3px;
    width: 3px;
    content: "";
    display: block;
    position: absolute;
    transition: all; }
  .cta-primary:active {
    transform: translate(0, 0); }
    .cta-primary:active::before {
      bottom: 0;
      height: 0;
      left: 0; }
    .cta-primary:active::after {
      right: 0;
      top: 0;
      width: 0; }

.cta-tertiary {
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  line-height: 17px;
  min-height: 0;
  padding: var(--gl-spacing-0000);
  text-align: left;
  text-decoration: underline;
  white-space: unset; }
  .cta-tertiary:hover {
    background-color: #000;
    color: #fff;
    text-decoration: underline; }

.label-small {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.gl-body--s,
.gl-paragraph--s {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 14px;
  font-family: "AdihausDIN-Regular", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal; }
