* {
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif; }

.footer .footer-interactive .footer-newsletter {
  background-color: #ede734; }
  .footer .footer-interactive .footer-newsletter .container {
    padding: 40px 20px;
    max-width: 960px; }
    .footer .footer-interactive .footer-newsletter .container h4 {
      font-size: 30px;
      line-height: 35px;
      font-weight: 600;
      margin-bottom: 15px; }

.footer .footer-top .responsive-footer-main-block {
  display: none;
  list-style-type: none; }
  .footer .footer-top .responsive-footer-main-block li {
    text-align: center; }
    .footer .footer-top .responsive-footer-main-block li a {
      font-size: 12px;
      line-height: 1.25;
      color: #fff; }

.footer .footer-top .footer-responsive-para {
  display: none; }
  .footer .footer-top .footer-responsive-para p {
    margin: 0;
    padding: 0 0 14px;
    color: #fff;
    font-size: 14px; }

.footer .footer-top .footer-container .footer-main-links {
  padding: 20px 0 0; }
  .footer .footer-top .footer-container .footer-main-links .footer-group {
    flex-basis: 100%;
    margin: 20px 15px 30px; }
    .footer .footer-top .footer-container .footer-main-links .footer-group li a {
      display: block;
      line-height: 23px;
      color: #000;
      font-size: 13px;
      text-decoration: none; }
      .footer .footer-top .footer-container .footer-main-links .footer-group li a:hover {
        text-decoration: underline;
        background-color: transparent; }

.footer .footer-bottom {
  border-top: 1px solid #616363;
  color: #c8cbcc;
  background-color: #363738;
  font-size: 12px; }
  .footer .footer-bottom .footer-legal-responsive-main-block {
    display: none; }
  .footer .footer-bottom .footer-legal-responsive-inner-main-block {
    display: flex;
    flex-direction: row; }
    .footer .footer-bottom .footer-legal-responsive-inner-main-block .footer-legal-responsive-block-items {
      width: 50%; }
      .footer .footer-bottom .footer-legal-responsive-inner-main-block .footer-legal-responsive-block-items .footer-legal-responsive-block-items-content ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .footer .footer-bottom .footer-legal-responsive-inner-main-block .footer-legal-responsive-block-items .footer-legal-responsive-block-items-content ul li {
          text-align: center;
          margin: 16px 0; }
          .footer .footer-bottom .footer-legal-responsive-inner-main-block .footer-legal-responsive-block-items .footer-legal-responsive-block-items-content ul li a {
            text-decoration: none;
            font-size: 12px;
            color: #c8cbcc;
            font-size: 12px; }
  .footer .footer-bottom .footer-legal-responsive-country-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 16px; }
    .footer .footer-bottom .footer-legal-responsive-country-block img {
      width: 23px;
      margin-right: 10px; }
  .footer .footer-bottom .footer-container .footer-legal {
    padding: 10px 0; }
    .footer .footer-bottom .footer-container .footer-legal .footer-legal-item {
      margin: 9px 0;
      padding: 0 15px;
      width: 50%;
      text-align: center;
      width: auto;
      border-right: 1px solid #a2a2a2; }
      .footer .footer-bottom .footer-container .footer-legal .footer-legal-item:last-child {
        border-right: none; }
      .footer .footer-bottom .footer-container .footer-legal .footer-legal-item a {
        color: inherit;
        cursor: pointer;
        text-decoration: none; }
    .footer .footer-bottom .footer-container .footer-legal .country-selector {
      margin-right: auto;
      width: auto;
      border-right: none; }
      .footer .footer-bottom .footer-container .footer-legal .country-selector a img {
        width: 18px;
        height: 17px;
        margin-right: 8px; }

.btn-primary-custom {
  background-color: #000;
  padding: 0 15px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  transform: translate(-3px, -3px);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center; }
  .btn-primary-custom span {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase; }
  .btn-primary-custom::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    height: 100%;
    right: -3px;
    top: 3px;
    width: 3px; }
  .btn-primary-custom::before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    bottom: -3px;
    height: 3px;
    left: 3px;
    width: 100%; }

.footer-headline:first-of-type h5 {
  margin-top: 0; }

.footer-headline h5 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 15px; }

.btn-primary-custom .arrow-right-long {
  margin-left: 15px; }

.footer-mobile-item {
  padding-bottom: 9px; }
  .footer-mobile-item a {
    text-decoration: none; }

.pre-mobile-footer-actions a {
  text-decoration: none; }

.back-to-top-main-block {
  display: none; }
  .back-to-top-main-block .back-to-top-block-items {
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .back-to-top-main-block .back-to-top-block-items p {
      font-size: 14px;
      margin-bottom: 0; }
    .back-to-top-main-block .back-to-top-block-items img {
      margin-right: 10px; }

.footer-profile-icon {
  padding-right: 12px; }

@media (max-width: 1280px) {
  .footer-interactive .footer-newsletter .container h4 {
    font-size: 26px !important; } }

@media (min-width: 960px) {
  .pre-mobile-footer-actions {
    display: none; }
  .back-to-top-btn {
    display: none; } }

@media only screen and (max-width: 960px) {
  .footer .footer-bottom .footer-container .footer-legal {
    display: none !important; }
  .footer-legal {
    display: none !important; }
  .footer-legal-responsive-main-block {
    display: block !important; }
  .footer-interactive .pre-mobile-footer-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-size: 14px; }
  .footer-link-lc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 15px;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: inherit; }
  .back-to-top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    padding: 0;
    height: 47px;
    text-transform: uppercase;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    font-family: "AdineuePRO", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px; }
  .back-to-top-icon {
    vertical-align: text-top;
    margin-right: 15px; }
  .back-to-top-main-block {
    display: block !important; } }

@media only screen and (max-width: 790px) {
  .footer .footer-top .footer-container .footer-main-links .footer-group {
    display: none; }
  .responsive-footer-main-block {
    display: block !important; }
  .footer-top {
    background: #000; }
  .footer-responsive-para {
    display: block !important; } }
